@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.content{
  height: 100%;
}
.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 90px;
  color: white;
  background: #f7653b;
}

.site-background{ 
  background: #f7653b;
  color: white;
  font-size: 20px;
}

.back{
  font-size: 20px;
  margin-top: 90%;
  background:#f7653b;
  padding: 15px;
  cursor: pointer;
}

.search{
  margin-top: 10px;
  margin-left: 10px; 
  width:99%
}

@media (max-width:1200px) {
.search{
  width: 60%;
}

}

.add_users {
    position: fixed;
    display: absolute;
    bottom:100px;
    right:60px;
    z-index: 1;
    font-size: 60px;
    background: #f7653b;
    color: white;
    border-radius: 100%;
}

.add_users:hover{
  font-size: 80px;
  cursor: pointer;
}
